
@{
    ViewBag.Title = "Fail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-dismissable">
    Đặt hàng không thành công!
</div>
<button class="btn"><a href="/thanh-toan">Quay lại</a></button>

